.vs/
Application/bin
Application/obj
Domain/bin
Domain/obj
Infrastructure/bin
Infrastructure/obj
fiap-store/bin
fiap-store/obj
WebUI/node_modules
WebUI/public/build
WebUI/build
WebUI/.cache
.vscode
WebUI/package-lock.json
